# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Static Libraries
*.a
*.lib

# Shared Libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Build directories
/build/
/bin/
/Debug/
/Release/

# Visual Studio specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code directory
.vscode/
